*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #e1e1e1;
	font-family: "Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB",STHeiti,sans-serif !important;
	color: #333;
	line-height: 20px;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
	color: #778087;
}
img{
	height: auto;
	max-width: 100%;
}
hr{
	margin:20px 0;
	border:0;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #fff;
}
blockquote{
	padding: 0 0 0 15px;
	margin: 0 0 20px;
	border-left: 5px solid #eee;
}
pre{
	display: block;
	font-family:Monaco,Menlo,Consolas,"Courier New",monospace;
	white-space: pre-wrap;
	word-wrap: break-word;
	word-break: break-all;
}
p{
	margin: 0 0 10px;
	font-size: 14px;
}
input{
	display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
}
input[type=text]{
	background-color: hsla(0,0%,0%,0);
	border:1px solid #ccc;
	transition: border linear .2s,box-shadow linear .2s;
	height: 30px;
	padding:4px 6px;
	font-size: 14px;
	line-height: 20px;
	color: #555;
	border-radius: 4px;
}

#back-to-top{
	width: 24px;
	color: gray;
	padding: 12px 0 12px 5px;
	position: fixed;
	cursor: pointer;
	text-align: center;
	z-index: 20;
	background: #fff;
	border-radius: 12px 0 0 12px;
	bottom: 100px;
	right: 0;
}
.panel .p-inner li{
	line-height: 2em;
}
/***********header********************/
#header{
	width: 100%;
	height: 50px;
	position: relative;
	background-color: #444;
	font-size: 13px;
}
.navbar{
	max-width: 1400px;
	min-width: 960px;
	height: 100%;
	display: flex;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
}
.brand{
	width: 120px;
	height: 28px;
	padding: 3px 20px;
}
.search-container{
	flex-grow: 1;
	position: relative;
}
.search-container input{
	outline: none;
	border: none; 
	color:#666;
	background: url(http://o4j806krb.qnssl.com/public/images/search.e53b380a.hashed.png) 4px 4px no-repeat #888;
	padding: 3px 5px 3px 22px;
	border-radius: 15px;
	font-size: 13px;
	line-height: 20px;
	transition: all .5s;
}
.search-container input:hover,
.search-container input:focus{
	background-color: #fff;
}
.nav-menu{
	display: flex;
}

.nav-menu-item a{
	color: #ccc;
	padding: 10px 15px;
	line-height: 20px;
}

.nav-menu-item a:hover{
	color: #fff;
}
/*************main******************/

#main{
	display: flex;
	max-width: 1400px;
	min-width: 960px;
	margin: 15px auto;
	min-height: 400px;
}


/*************home content*******************/

.ct-box{
	flex-grow: 1;
	flex-shrink: 1;
	margin-right: 15px;
}
.ct-menu{
	display: flex;
	padding: 10px;
	background: #f6f6f6;
	border-radius: 3px 3px 0 0;
}
.topic-tab{
	margin:0 10px;
}
.topic-tab a{
	color: #80bd01;
}
.topic-tab a:hover{
	color: #08c;
}
.topic-tab.current-tab a{
	background: #80bd01;
	color: #fff;
	padding: 3px 4px;
	border-radius: 3px;
}
.ct-bd{
	background: #fff;
	border-radius: 0 0 4px 4px;
}

.topic-list{
	display: flex;
	flex-direction: column;
}
.topic-list-item{
	display: flex;
	padding: 10px;
	border-top: 1px solid #f0f0f0;
	align-items: center;

}
.topic-list-item:hover{
	background: #f5f5f5;
}
.publisher-avatar{
	width: 30px;
	height: 30px;
	border-radius: 3px;
}
.reply-visit-box{
	width: 70px;
	text-align: center;
}
.reply-count{
	color: #9e78c0;
	font-size: 14px;
}
.count-seperator{
	font-size: 10px;
}
.visit-count{
	font-size: 10px;
	color: #b4b4b4;
}
.topiclist-tab{
	background: #e5e5e5;
	color: #999;
	padding: 2px 4px;
	border-radius: 3px;
	font-size: 12px;
	margin-right: 5px;
}
.put-good,
.put-top{
	background: #80bd01;
	color: #fff;
	font-size: 12px;
	padding: 2px 4px;
}
.topic-title{
	margin-right: 20px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 70%;
}
.topic-title a{
	color: #333;
	font-size: 16px;
}
.topic-title a:hover{
	text-decoration: underline;
}
.topic-title a:visited{
	color: #888;
}
.reply-box{
	flex-grow: 1;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.reply-inner{
	display: flex;
	justify-content: space-between;
	width: 82px;
	align-items: center;
}
.last-replyer-avatar{
	width: 18px;
	height: 18px;
	margin-right: 8px;
	border-radius: 3px;
}
.last-reply-time{
	color: #778087;
	font-size: 11px;
	
}
#pagination{
	height: 40px;
	margin: 10px 0 0 10px;
	color: #778087;
}
#pagination ul{
	display: inline-flex;
	border-radius: 4px;
	height: 30px;
}
.pagination-item{
	font-size: 14px;
	background: #fff;
	border: 1px solid #ddd;
	border-left-width: 0;
	cursor: pointer;
	color: #778087;
	display: flex;
}
.pagination-item a{
	color: #778087;
	padding: 4px 12px;
	line-height: 20px;
	font-size: 14px;
}

.pagination-item:first-child{
	border-left-width: 1px;
	border-radius: 4px 0 0 4px;
}
.pagination-item:last-child{
	border-radius: 0 4px 4px 0;
}
.pagination-item:not(.disabled):hover{
	background: #f5f5f5;
}
.disabled a{
	color: #999;
	cursor:default;
}

.active a{
	color: #80bd01;
}
/**************sidebar*********************/

.sidebar{
	width:290px;
	font-size: 14px;
}
.panel{
	font-size: 13px;
	margin-bottom: 13px;
}
.p-header{
	color: #51585c;
	border-radius: 3px 3px 0 0;
	padding: 10px;
	background-color: #f6f6f6;
}
.col-fade{
	color: #444;
}
.col-fade a{
	color: #666;
}
.p-inner{
	padding: 10px;
	border-radius: 0 0 3px 3px;
	background-color: #fff;
}
.span-info{
	display: inline-block;
	padding: 3px 10px;
	border:none;
	font-size: 14px;
	transition: all .2s ease-in-out;
	cursor: pointer;
	letter-spacing: 2px;
	box-shadow: none;
	border-radius: 3px;
	line-height: 2em;
	vertical-align: middle;
	color: #fff;
	background: #5bc0de;
}
.span-info:hover{
	background: #2f96b4;
}
.user-header{
	display: flex;
	align-items: center;
}
.user-avatar{
	
	border-radius: 3px;
	margin-right: .5em;
	display: inline-block;
}
.user-card .user-avatar img{
	width: 48px;
	height: 48px;
}
.user-name{
	font-size: 16px;
	max-width: 120px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	line-height: 2em;
	color: #778087;
}
.user-integration{
	margin-top: 10px;
	width: 80%;
	line-height: 2em;
	font-size: 14px;
}
.user-signature{
	font-style: italic;
	line-height: 2em;
}

.span-primary,
.span-success,
.login-btn{
	border-radius: 3px;
	background-color: #80bd01;
	padding: 8px 10px;
	font-size: 14px;
	transition: all .2s ease-in-out;
	letter-spacing: 2px;
	vertical-align: middle;
	color: #fff;
	cursor: pointer;
	display: inline-block;
}
.span-success:hover{
	background: #6ba44e;
}
.span-success a{
	width: 100%;
	height: 100%;
	color: #fff;
}
.sep10{
	height: 10px;
}
.p-inner ul{
	margin-bottom: 10px;
}
.sidebar .topic-title{
	max-width: 270px;
	font-size: 14px;
	color: #778087;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	line-height: 2em;
	display: block;
	margin: 0;
	width: 100%;
}

.p-inner ol{
	margin: 4px 0;
	list-style: none;
}
.top-score{
	color: gray;
	padding: 2px;
	margin-right:10px;
}
.p-inner ol a{
	color: #778087;
	font-size: 13px;
}
.friendship-community img{
	width: 150px;
}
.cnode-app-download{
	text-align: center;
}
.qrcode-img{
	width: 200px;
}
.cnode-app-download a{
	color: #778087;
	margin-top: 8px;
}


/**************topic detail******************/

.topic-header{
	background: #fff;
	border-radius: 3px 3px 0 0;
	padding: 10px;
}

.topic-full-title{
	font-size: 22px;
	font-weight: 700;
	margin: 8px 0;
	vertical-align: bottom;
	width: 75%;
	line-height: 130%;
}

.changes{
	font-size: 12px;
	color: #838383;
	overflow: hidden;
	position: relative;
}
.changes span:before{
	content:"•";
}
.collet-btn{
	color: #fff;
	border-radius: 3px;
	border:none;
	display: inline-block;
	padding: 3px 10px;
	font-size: 14px;
	transition: all .2s ease-in-out;
	letter-spacing: 2px;
	box-shadow: none;
	line-height: 2em;
	vertical-align: middle;
	background-color: #80bd01;
	cursor: pointer;
	float: right;
}
.collet-btn:hover{
	background: #6ba44e;
}
.span-common{
	background: #e5e5e5;
	color: #000;
}
.span-common:hover{
	background: #909090;
	color: #fff;
}
.topic-inner{
	padding: 10px;
	border-top: 1px solid #e5e5e5;
	border-radius: 0 0 3px 3px;
	background-color: #fff;
}
.topic-content{
	margin: 0 10px;
}
.markdown-text>:first-child{
	margin-top: 0;
}
.topic-content p{
	font-size: 15px;
	line-height: 1.7em;
	overflow: auto;
}
.markdown-text p{
	white-space: pre-wrap;
	word-wrap: break-word;
	margin: 1em 0;
}
.markdown-text a{
	color: #08c;
}
.markdown-text a:hover{
	text-decoration: underline;
}
.markdown-text ul{
	margin:0 0 10px 25px;
}
.markdown-text li{
	line-height: 2em;
	font-size: 14px;
}
.topic-content h1,
.topic-content h2,
.topic-content h3,
.topic-content h4,
.topic-content h5,
.topic-content h6,
.reply-area h1,
.reply-area h2,
.reply-area h3,
.reply-area h4,
.reply-area h5,
.reply-area h6{
	margin: 30px 0 15px;
	border-bottom: 1px solid #eee;
	line-height: 40px;
}
.topic-content h1{
	font-size: 32.5px;
}
.topic-content h2,
.reply-area h2{
	font-size: 26px;
}
.topic-content h3{
	font-size: 24.5px;
}

/****************topic reply****************/

.cell{
	background: #fff;
	border-top: 1px solid #f0f0f0;
	position: relative;
	padding: 10px;
	font-size: 14px;
}
.cell.reply-highlight{
	background: #f4fcf0;
}
.cell .user-avatar{
	float: left;
}
.user-avatar img{
	width: 30px;
	height: 30px;
	border-radius: 3px;
}
.user-info{
	margin-left: 10px;
	display: inline-block;
}
.reply-author{
	color: #666;
	font-size: 12px;
	font-weight: 700;
}
.reply-time{
	font-size: 11px;
	color: #08c;
}
.user-action{
	float: right;
	margin-left: 20px;
	font-size: 15px;
}
.up-btn,
.reply2-btn{
	cursor: pointer;
	opacity: .4;
}
.user-action .up-count{
	color: gray;
}
.reply-content{
	padding-left: 50px;
	color: #333;
}
.markdown-text>:last-child{
	margin-bottom: 1em;
}
.reply-content p{
	font-size: 15px;
	line-height: 1.7em;
}
.markdown-text ul{
	list-style: disc;
}
.cell .invisible{
	visibility: hidden;
}
.cell:hover .invisible{
	visibility: visible;
}
div pre.prettyprint{
	font-size: 14px;
	border-radius: 0;
	padding: 0 15px;
	border:none;
	margin: 20px -10px;
	border-width: 1px 0;
	background-color: #f7f7f7;
	tab-size:4;
}



/*********login***********/
.breadcrumb{
	padding: 0;
	margin: 0;
	border-radius: 4px;
	font-size: 14px;
}
.breadcrumb>li{
	display: inline-block;
}
.breadcrumb a{
	color: #80bd01;
}
.breadcrumb>li>.divider{
	padding: 0 8px;
	color: #ccc;
}
.breadcrumb>.active{
	color: #999;
}
.control-group{
	margin-bottom: 20px;
	margin-top: 40px;
	display: flex;
	align-items: center;
}
.control-label{
	width: 160px;
	text-align: right;
	font-weight: 400px;
	line-height: 20px;
	font-size: 14px;
}
.controls{
	margin-left: 20px;
}
.input-xlarge{
	width: 270px;
}
.accesstoken-tips{
	margin-left: 80px;
	font-size: 18px;
	color: #555;
	margin-bottom: 20px;
}
.login-btn{
	border-radius: 3px;
	background-color: #08c;
	margin-left: 250px;
	margin-bottom: 40px;
}
.login-btn:hover{
	background: #0055cc;
}
.about-panel-ul{
	list-style: disc;
	margin-left: 20px;
	font-size: 13px;
	color: #333;
	line-height: 2em;
}


/*************create-topic************/
.tab-select-span{
	font-size: 14px;
	line-height: 2em;
}
select,
textarea{
	width:220px;
	border:1px solid #ccc;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	display:inline-block;
	padding:4px 6px;
	margin-bottom: 10px;
	color: #555;
	vertical-align: middle;
	border-radius: 4px
}
#tab-select-value{
	margin-left: 10px;
	margin-right: 7px;
}
#topic-title{
	width: 98%;
	resize: none;
	height: 30px;
	line-height: 20px;
	display: inline-block;
	margin-bottom: 1em;
	outline: none;
}

#topic-content-value{
	width: 98%;
	height: 480px;
	resize: none;
	outline: none;
	color: #333;
}
.submit-btn{
	border-radius: 3px;
	background: #08c;
	margin-top: 20px;
}
.submit-btn:hover{
	background: #0055cc;
}
.alert{
	border-radius: 0;
	padding: 8px 35px 8px 14px;
	margin-bottom: 20px;
	border:1px solid #fbeed5;
}

.alert-error{
	color: #b94a48;
	background: #f2dede;
	border-color: #eed3d7;
}
.alert strong{
	line-height: 30px;
	display: inline-block;
	height: 30px;
}
.alert .close{
	float:right;
	font-size: 20px;
	opacity: .2;
	position: relative;
	top:-2px;
	right: -21px;
	line-height: 20px;
	cursor: pointer;
}